.principal   {
    background: #a7a7a7;
}

h1 {
    text-align: center ; 
}

 {
    text-align: center ;
}

#missao {
    color:rgb(255, 0, 0)5, 102, 0);
    font-size: 20px;
}

#banner {
   width: 100%;
}

.benefícios-titulo{
        text-align: center; 
}

.itens {

}

.benefícios {
    background-color : rgb(255, 255, 255)
}

ul {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    margin-right: 15%;
}

.benefícios-imagem{
    width: 50%;
}

.titulo{
    padding-left: 20px;
}